<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/images/Logo-home-icono.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Charis+SIL:ital,wght@0,400;0,700;1,400;1,700&family=Inter:wght@100..900&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/9e4e93b905.js" crossorigin="anonymous"></script>

    <title>Formulario de Inicio de Sesión</title>


</head>

<body class="login">
   <div class="main-container">
        <div class="left">
            <!-- Contenido de la izquierda -->
            <header>
                <div class="logo-lg">
                    <a href="../index.html">
                        <img src="../static/images/Logo-Home.png" alt="logo" >
                    </a>
                </div>
                <div class="title">
                    <h1>Inicia Sesión</h1>
                </div>
            </header>
            <div class="form-container">
                <form class="form-login" action="" id="formulario" method="get">
                    <div class="input-container">
                        <div class="input-container">
                            <div class="cont-email">
                                <input type="text" id="email-login" placeholder="example@example.com" name="email" >
                                <label for="email-login">Email</label>
                                <div class="alert">
                                    <p class="error-input" id="email-compare1" style="display: none;">
                                        <i class="fas fa-times" style="color: red;"></i> Formato de email invalido.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="input-container">
                            <div class="cont-password">
                                <input type="password" id="password-login" placeholder="Ingresa tu contraseña" name="psw" oninput="validatePasswordLength(this,8, 'password-length-login')">
                                <label for="password-login">Contraseña</label>
                                <i class="fas fa-eye password-toggle" id="password-toggle-login" onclick="passwordVisibility('password-login', 'password-toggle-login')"></i>
                                <div class="alert">
                                    <p class="error-input" id="password-length-login" style="display: none;">
                                        <i class="fas fa-times" style="color: red;"></i> 8 caracteres mínimos y no poseer espacios en blanco.
                                    </p>
                                </div>
                            </div>
    
                        </div>
                        <div class="btn">
                            <button type="submit" class="btn-login">Ingresar</button>
                        </div>
                    </div>
                </form>
            </div>
    
            <div class="container-olvidaste">
                <div class="with-usuario">
                    <p>
                        <a href="#">¿Olvidaste <br> tu usuario?</a>
                    </p>
                </div>
                <hr>
                <div class="with-contraseña">
                    <p>
                        <a href="#">¿Olvidaste <br> tu contraseña?</a>
                    </p>
                </div>
            </div>
            <div class="container-crear">
                <p>
                    ¿No tenés cuenta?
                    <a href="registro.html">Creala Ahora</a>
                </p>
                <hr>
                <div class="condicion">
                    <div class="condicion-content">
                        <a href="../templates/politicas.html">Términos y condiciones</a>
                        <a href="../templates/preguntas.html">Preguntas frecuentes</a>
                        <a href=""  id="ayudaBtn">Ayuda</a>
                    </div>
                </div>
                <div id="whatsappContacto" style="display: none;"> <!-- Div para la imagen de WhatsApp y el número de teléfono -->
                    <img src="../static/images/wasap.png" alt="WhatsApp" width="60px">
                    <p>Número de Teléfono: +123456789</p>
                </div>
            </div>
        </div>
        <div class="right">
            
        </div>
    
    </div>
  

    <script src="../static/Js/validationform.js"></script>
</body>

</html>


