
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/images/Logo-home-icono.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Charis+SIL:ital,wght@0,400;0,700;1,400;1,700&family=Inter:wght@100..900&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/9e4e93b905.js" crossorigin="anonymous"></script>
    <title>Terminos y Condiciones</title>
    
   



</head>

<body >

     <!-- HEADER -->
     <header class="header">
        <!-- CONTENEDOR DEL LOGO -->
        <div class="logo">
            <a href="../index.html">
                <img src="../static/images/Logo-Home.png" alt="logo">
            </a>
            <!-- ICONOS-REDES SOCIALES DEBAJO DEL LOGO -->
            <div class="social-media">
                <h1>Grupo Salud</h1>
                <div class="social-media-ico">
                    <ul>
                        <li><a href="">
                                <i class="fa-brands fa-instagram fa-l" style="color: #ff0040;"></i>
                            </a></li>
                        <li><a href="">
                                <i class="fa-brands fa-facebook fa-l" style="color: #1055cb;"></i>
                            </a></li>
                        <li><a href="">
                                <i class="fa-brands fa-linkedin fa-l" style="color: #74C0FC;"></i>
                            </a></li>
                        <li><a href="">
                                <i class="fa-regular fa-envelope fa-l" style="color: #696969;"></i>
                            </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- INPUT-SEARCH ACTIVO HASTA LA APARICION DEL MENU HAMBURGUESA -->
        <div class="search-navbar">
            <i class="fa-solid fa-magnifying-glass" style="color: black;"></i>
            <input type="text" required placeholder="Buscar...">
        </div>
        <!-- BOTON DE DESPLIEGUE MENU-HAMBURGUESA -->
        <button class="open-menu" id="open"><i class="fas fa-bars ico" style="color: #292929;"></i></button>
        <!--  -->

        <!-- MENU DE NAVEGACION -->
        <nav class="nav" id="nav">

            <ul class="nav-links">

                <li><button class="close-menu" id="close"><i class="fas fa-times ico"
                            style="color: #ffffff;"></i></button>
                </li>
                <!-- INPUT-SEARCH ACTIVO CON EL MENU HAMBURGUESA -->
                <li>
                    <div class="search-menu">
                        <i class="fa-solid fa-magnifying-glass" style="color: black;"></i>
                        <input type="text" required placeholder="Buscar...">
                    </div>
                </li>
                <!--  -->
                <li><a href="../templates/planes.html">PLANES DE SALUD
                        <i class="fa-solid fa-plus fa-fw" style="color: #63E6BE;"></i>
                    </a></li>
                <li><a href="../templates/DondeEstamos.html">DÓNDE ESTAMOS
                        <i class="fa-solid fa-location-dot fa-fw" style="color: #c51616;"></i>
                    </a></li>
                    
                <li><a href="../templates/login.html" id="register">Acceder
                        <i class="fa-solid fa-user fa-fw" style="color: #ffffff;"></i>
                    </a></li>
                <li><a href="../templates/medicos.html" id="m-register">Médicos
                        <i class="fa-solid fa-user fa-fw" style="color: #ffffff;"></i>
                    </a></li>
            </ul>
        </nav>

    </header>
    <!-- SCRIPT PARA ABRIR Y CERRAR MENU HAMBURGUESA -->
    <script src="./static/Js/main.js"></script>
    <!--  -->


    <h2 class="info-imp">URGENCIAS (011) 4444 8888 | 0810-333- 4444</h2>
    
    <main class="politica-content">
        
          
          

                <h1>Terminos y Condiciones</h1>
        

            
            <p>En GRUPO SALUD , valoramos y respetamos su privacidad. Esta Política de Privacidad describe cómo recopilamos, utilizamos y protegemos la información personal que usted proporciona a través de nuestro sitio web.</p>
            <h2>Información que Recopilamos</h2>
            <p>Recopilamos información personal que usted nos proporciona voluntariamente cuando utiliza nuestro sitio web. Esta información puede incluir su nombre, dirección de correo electrónico, número de teléfono, dirección postal y cualquier otra información que decida compartir con nosotros.</p>
            <h2>Cómo Utilizamos su Información</h2>
            <p>Utilizamos la información que recopilamos para proporcionarle productos y servicios, mejorar nuestro sitio web, comunicarnos con usted, procesar transacciones y cumplir con las leyes y regulaciones aplicables.</p>
            <h2>Divulgación de Información</h2>
            <p>No vendemos, intercambiamos ni transferimos su información personal a terceros sin su consentimiento, excepto en los casos en que sea necesario para brindarle nuestros servicios, cumplir con la ley o proteger nuestros derechos.</p>
            <h2>Seguridad de la Información</h2>
            <p>Tomamos medidas razonables para proteger la información personal que recopilamos contra el acceso no autorizado, la divulgación, la alteración o la destrucción.
                Si tienes alguna pregunta o inquietud sobre la seguridad de la información, no dudes en ponerte en contacto con nosotros. Tu privacidad y seguridad son nuestra máxima prioridad.
            </p>
            <h2>Enlaces a Otros Sitios Web</h2>
            <p>Nuestro sitio web puede contener enlaces a sitios web de terceros. No tenemos control sobre el contenido, las políticas de privacidad o las prácticas de estos sitios y no somos responsables de ellos.</p>
            <h2>Actualizaciones a Esta Política de Privacidad</h2>
            <p>Nos reservamos el derecho de actualizar o modificar esta Política de Privacidad en cualquier momento. Se le notificarán los cambios importantes mediante la publicación de la Política de Privacidad actualizada en nuestro sitio web.</p>
            <h2>Contacto</h2>
            <p>
                Por supuesto, aquí tienes la línea completada:
                
                html
                Copiar código
                Si tiene alguna pregunta sobre esta Política de Privacidad, puede contactarnos a través de <a href="mailto:info@SaludObraSocial.com">info@SaludObraSocial.com</a>, llamando al <a href="tel:+54105554444">0810-555-4444</a> o visitándonos en nuestra oficina ubicada en CP 1114.</p>
        
    </main>

    <footer class="footer">

        <div class="contact-me">
            <ul>
                <li><i class="fa-solid fa-phone fa-fw" style="color: #ffffff;"></i> Asociate | 0810-555-4444</li>
                <li><i class="fa-solid fa-phone fa-fw" style="color: #ffffff;"></i> Centro De Atencion Al Socio |
                    0810-555-4444</li>
                <li><i class="fa-brands fa-whatsapp fa-fw" style="color: #ffffff;"></i> WhatsApp | +54 9 11-2222-3333
                </li>
                <li><i class="fa-solid fa-location-dot fa-fw" style="color: #ffffff;"></i> Av.Ejemplo 1124</li>
            </ul>
        </div>

        <div class="line-center"></div>

        <div class="form-box">
            <h4>Para recibir informacion acerca de ofertas y promociones,por favor, complete el siguiente formulario:
            </h4>

            <form class="form-footer" action="#">
                <input id="name" type="text" required placeholder="Nombre...">
                <input id="email" type="email" required placeholder="E-mail...">
                <button class="form-btn">SUSCRIBIRSE</button>
            </form>
        </div>

    </footer>
    <script src="../static/Js/main.js"></script>
</body>

</html>